[2015-03-07 22:54] ruebot opened #1 "Add Solr install script (4.2.0)"

[2015-03-07 22:54] ruebot opened #2 "Add GSearch install script"

[2015-03-07 22:54] ruebot opened #3 "Add Djatoka install script"

[2015-03-07 22:55] ruebot opened #4 "Install Islandora modules"
- [x] List of modules
- [x] Clone all modules
- [x] Order of install and enabling
- [x] Setup Kakadu from #3 for Large Image SP dependency
- [x] Install solution pack objects

[2015-03-07 22:55] ruebot opened #5 "Install warctools"

[2015-03-07 22:56] ruebot opened #6 "Install FITS"

[2015-03-07 22:56] ruebot opened #7 "Install Tesseract"

[2015-03-07 22:56] ruebot opened #8 "Install FFmpeg"

[2015-03-08 00:05] #7 closed

[2015-03-08 00:16] ruebot opened #9 "Drupal and Islandora PHP dependencies"

[2015-03-08 00:34] #6 closed

[2015-03-08 00:39] #9 closed

[2015-03-08 01:06] #8 closed

[2015-03-08 01:26] #5 closed

[2015-03-08 01:28] ruebot opened #10 "Install disk image solution pack dependancies"

[2015-03-08 01:34] #10 closed

[2015-03-08 21:08] #3 closed

[2015-03-08 21:09] #4 closed

[2015-03-09 00:27] #1 closed

[2015-03-09 11:31] #2 closed

[2015-03-09 11:32] ruebot opened #11 "GSearch - DGI extensions, and update xslts"
[code]

[2015-03-09 21:58] ruebot opened #12 "Build and deploy DGI GSearch extensions"

[2015-03-11 01:04] #11 closed

[2015-03-11 01:05] #12 closed

[2015-03-14 16:36] ruebot opened #13 "php.ini templating"
We should have larger default upload sizes.

[2015-03-14 16:38] ruebot opened #14 "Unable to locate executable at /usr/bin/kdu_compress"

[2015-03-14 16:42] ruebot opened #15 "Islandora module configurations -- post install"
- [x] Djatoka server base URL - http://localhost:8080/adore-djatoka/resolver
- [x] Large Image SP viewer - OpenSeadragon
- [x] System path to FITS processor - /usr/local/fits/fits-0.8.4/fits.sh
- [x] Java Executable - /usr/bin/java
- [x] Tesseract path - /usr/local/bin/tesseract
- [x] Audio SP viewer - video.js
- [x] Book SP viewer (book) - IA
- [x] Book SP viewer (page) - OpenSeadragon
- [x] News

[2015-03-14 16:43] ruebot opened #16 "Post install -- Drupal status"
- [x] The CTools CSS cache directory, ctools/css could not be created due to a misconfigured files directory. Please ensure that the files directory is correctly configured and that the webserver has permission to create directories.
- [x] The directory sites/default/files is not writable. You may need to set the correct directory at the file system settings page or change the current directory's

[2015-03-14 16:47] #14 closed

[2015-03-14 16:50] ruebot opened #17 "BagItPHP missing"
Need to install the BagItPHP library.

[2015-03-14 16:56] ruebot opened #18 "Sleuthkit"
[code]

Investigate this.

[2015-03-15 19:27] #13 closed

[2015-03-15 19:32] #16 closed

[2015-03-15 19:35] #17 closed

[2015-03-17 02:22] #15 closed

[2015-03-17 12:06] #18 closed

[2015-03-19 17:55] lo5an opened #20 "Add a config.sh for shared variables between provisioner scripts"
What about adding a config.sh to make it easier to use variables across the scripts? In particular, it'd be nice to be able to set the various installation paths in one place and refer to them from the various scripts.

[2015-03-19 17:58] lo5an opened #21 "Caching bigger downloads on the host machine would speed up rebuild times for the vm"
Saving bigger downloads in a cache in the mounted /vagrant folder would speed up subsequent rebuild times.

[2015-03-19 18:00] lo5an opened #22 "Switching to drush make for installing Drupal modules and libraries"
If all of the Drupal modules and libraries, including Islandora, were installed in a single Drush makefile, that would give us a nice way to specify a particular Islandora configuration and share it with somebody.

[2015-03-19 18:04] lo5an opened #23 "Seperate out the more OS-specific parts of the scripts to make porting easier"
If there's interest in eventually supporting additional Linux distributions like CentOS, then it might make sense to put the more OS-specific parts of the scripts into their own files.

[2015-03-19 20:01] ruebot opened #24 "Move drush library installers to .drush"
See also https://jira.duraspace.org/browse/ISLANDORA-1213

Follow your own instructions :wink:

Note: If you use the Drush command, it is advisable to Move (not copy) the install script to your .drush folder and run it.

[2015-03-20 03:07] whikloj commented on #20
I am working on this, still need to test but I couldn't assign this to myself.
https://github.com/whikloj/islandora_vagrant/tree/issue-20

[2015-03-21 03:35] whikloj opened #26 "Make the Apache Document Root configurable"
I like the VM, but I would love to edit using my normal process/programs but see the changes in the VM instantaneously.
If the doc root was configurable, you could set it to your shared directory and be able to access the module code from outside the VM.

[2015-03-23 00:57] ruebot opened #27 "Add a box to https://atlas.hashicorp.com?"
What if we stabilized a base box, uploaded it to Atlas, and just pulled stuff from there?

[2015-03-23 15:56] lo5an commented on #21
I like the idea of the script downloading stuff, but then caching it between machine rebuilds.  I don't think we want to keep our own copy of the binaries.

[2015-03-23 16:12] whikloj commented on #21
There is also the possibility of:
1) Replace _apt-get_ with **apt-get -d** to download source into the downloads directory.
2) Use **dpkg -i** to install the packages from the downloads directory.
This would extend the download once, install many idea. Just not sure how it would handle dependencies.

[2015-03-23 16:17] whikloj commented on #24
Is this for the OpenSeadragon issue and is the fix to move the _islandora_openseadragon.drush.inc_ to the $HOME_DIR/.drush folder?

[2015-03-23 17:02] lo5an commented on #21
Maybe a vagrant plugin like https://github.com/fgrehm/vagrant-cachier would be better for caching system packages?

Updated to expand:

I've only been using vagrant-cachier for a week or so, but it's been working well so far, and I like that it handles more than just .debs. It seems to be a reasonably active project, and it's nice and modular, so we could recommend that people use it without makin

[2015-03-23 18:41] lo5an commented on #21
That said, caching OS packages is definitely beyond the scope of what I was originally thinking, so I'm happy to mark this as closed and create a new issue for package caching :-)

[2015-03-23 18:41] #21 closed

[2015-03-23 18:49] lo5an opened #29 "As a devops, I would like to cache OS package downloads in order to speed up vm rebuilds."
@whikloj suggested adding this, in the discussion for issue #21

but we might also want to look at vagrant plugins like https://github.com/fgrehm/vagrant-cachier

[2015-03-23 21:00] lo5an commented on #26
We're likely to want this too, although our use case is slightly different. We run apps out of /srv across most of our systems, so we'll want our dev environment to match that.

Locally, I suspect that we'll put the Drupal install in the vagrant shared directory and remount it to something like /srv/islandora/drupal with the [vagrant-bindfs plugin](https://github.com/gael-ian/vagrant-bindfs), but

[2015-03-23 21:29] lo5an commented on #27
I might be going a bit beyond the current scope of the project, but one of the things that I really like about this vagrant install is that it provides thorough and testable documentation for putting together the entire Islandora stack. In the back of my mind, I've been wondering whether it would make sense to really over-comment the bash scripts, maybe even taking something close to a literate pr

[2015-03-23 21:30] lo5an commented on #20
Great!

[2015-03-23 21:30] #20 closed

[2015-03-23 22:11] lo5an commented on #27
So you're thinking that stuff like the steps in `bootstrap.sh`, `fcrepo.sh` and `ffmpeg.sh` would go in to the base box? Maybe do something with packer.io?

I can see some of the benefits of that, but I think I'd still vote for the current zero-to-Islandora approach. Part of that is the documentation angle, but I think it also works better for letting people tweak the vagrant build to more closely

[2015-04-07 15:28] ruebot opened #31 "Tesseract doesn't have any languages installed"
Download some default languages:

* https://tesseract-ocr.googlecode.com/files/tesseract-ocr-3.02.eng.tar.gz
* https://tesseract-ocr.googlecode.com/files/tesseract-ocr-3.02.fra.tar.gz

[2015-04-07 15:31] whikloj commented on #31
Because we have defined the TESSDATA directory as /usr/local/share/tessdata, I found the easiest is to download the files (caching them), copy them to that directory and do.
`tar -xf tesseract-ocr-3.02.eng.tar.gz --strip-components 2`
That will strip the 2 sub-directory hierarchy in the tar and dump the contents right in _tessdata_

[2015-04-07 15:46] whikloj commented on #31
While you are in there, can you modify [these lines](https://github.com/Islandora-Labs/islandora_vagrant/blob/master/scripts/tesseract.sh#L9-L11) from

[code]

to

[code]

On mine it has 744 for some reason.

[2015-04-07 18:23] #31 closed

[2015-04-08 18:47] #24 closed

[2015-04-30 00:36] whikloj opened #32 "Authentication error with Fedora API-M"
When I go to http://localhost:8080/fedora/objects/<PID> I can see the object. But if I go to view a datastream, it asks for a username and password. When I enter the default fedoraAdmin:fedoraAdmin then I get a WSOD and the fedora log says
[code]
I verified that the fedoraAdmin:fedoraAdmin combo is defined in the fedora-users.xml file.

[2015-04-30 15:47] ruebot opened #33 "Openseadragon doesn't work"
Need to setup proxy passes for djatoka...

[2015-05-02 05:18] whikloj commented on #33
Problem seems to be that Islandora (being the server) sees the valid Djatoka URL as http://localhost:80/adore-djatoka but then it uses that address to server OpenSeadragon tiles, and that address is invalid outside the VM.

Is there are reason we are using port 8000 instead of port 80? Or perhaps we should change the default apache port to 8000 as well.

[2015-05-08 14:01] ruebot opened #36 "Update FITS"
A new version of FITS (0.8.5) has been release. We should update to use the new version.

[2015-05-08 14:02] #36 closed

[2015-05-09 15:02] #32 closed

[2015-05-09 17:20] #33 closed

[2015-05-09 21:06] ruebot opened #37 "Upgrade Tesseract to 3.03"
Tesseract 3.03 (and languages) is available in the Ubuntu repos in 14.04. No need to compile from source anymore.

[2015-05-09 22:12] #37 closed

[2015-05-10 15:42] mjordan commented on #22
I have  drush makefile here: https://github.com/mjordan/islandora_drush_make.

[2015-05-10 15:45] mjordan opened #38 "IA book reader never renders"
As illustrated in the attached screencap:

![ia_bookreader](https://cloud.githubusercontent.com/assets/403918/7554977/c5202be4-f6f0-11e4-99ba-976d5d37c7e8.png)

I've seen this behavior on two separate instances of the Islandora Vagrant.

[2015-05-11 15:50] mjordan commented on #38
Just pulled to latest commit, reprovisioned, and it's rendering now.

[2015-05-11 15:50] #38 closed

[2015-05-11 17:57] ksclarke opened #39 "Update to Java 8"
Java 7 reached its end of life in April 2015 and will no longer be receiving patches.

Update Islandora Vagrant to use Java 8.

[2015-05-11 18:02] #39 closed

[2015-05-13 18:53] lo5an commented on #27
I think I've come around to the idea that a base box would be a good thing to have.

We might be able to have the best of both worlds if we split things out so that the project lets people use packer to build a base box (with any desired local tweaks and customizations) and then uses vagrant to handle managing the vm and setting up the Drupal+Islandora layer.

[2015-05-13 20:07] AndrewGearhart commented on #27
My thought is to have a pristine and common base box. Use something like precise or a chef box that is pretty common. That reduces the download and storage requirements for developing on multiple systems if the base boxes are the same between multiple projects.

Plus, by keeping those scripts separate from the base box, they can be repurposed/used in other <project>-vagrant adventures.

[2015-05-14 21:03] ruebot opened #43 "Add Drupal sniffer files for phpcs"

[2015-05-14 21:03] #43 closed

[2015-05-15 18:33] ksclarke commented on #22
Integrated @mjordan 's drush make file in PR #44

[2015-05-17 22:12] mjordan opened #47 "Enabling islandora_ingest_test wreaks havoc with ingest forms"
7430afddeb286601858e11f63af08cb2d92bf73c enables all modules within the islandora suite. islandora_ingest_test should not be enabled since it interferes with the ingest forms (see attached screencap). I will fix and open a PR.

![islandora_ingest_test_enabled](https://cloud.githubusercontent.com/assets/403918/7672421/185f9ea0-fca7-11e4-84ad-8d01367cbe09.png)

Disabling islandora_ingest_test makes

[2015-05-17 23:09] #47 closed

[2015-05-18 17:46] mjordan commented on #22
Can we close this issue?

[2015-05-18 19:29] lo5an commented on #22
Looks good to me!

[2015-05-18 20:12] mjordan opened #50 "vagrant provision fails because symlink already exists"
"vagrant provision" fails because the symlink /usr/share/php/PHP/CodeSniffer/Standards/Drupal already exists (last command in devtools.sh). ```rm -f /usr/share/php/PHP/CodeSniffer/Standards/Drupal``` removes the link if it already exists, fails silently if it doesn't.

[2015-05-19 02:21] mjordan opened #52 "UI for purging objects is missing"
Logged in as admin (uid 1), I am not seeing the button in objects' Properties tab to purge the object, nor am I seeing the "Delete members of this collection" UI in the collection tab. Screencaps attached. Anyone else see this behavior or am I going crazier?

![object_purge](https://cloud.githubusercontent.com/assets/403918/7694273/f7eef5ca-fd92-11e4-8470-23f4ef9671dc.png)

![collection_purge](htt

[2015-05-19 02:32] ksclarke commented on #52
You're not going crazier (or perhaps I'm going crazier with you) because I also don't see it on my instance.

[2015-05-19 02:52] mjordan commented on #52
Thanks for the sanity check!

[2015-05-19 06:46] mjordan opened #53 "Generating sample content"
Any interest in a module to generate some sample/lorum ipsum objects? Today I did up https://github.com/mjordan/islandora_groovy, which shows how we can use ImageMagick to generate images and then load them using Islandora Batch. Generating PDFs is (literally) as simple as changing the extension of the output file from .jpg to .pdf. I don't have any ideas on how to generate audio/video/disk images

[2015-05-19 13:45] #50 closed

[2015-05-19 13:53] mjordan commented on #53
I agree it should be optional. Why don't I keep playing around with generating the content in a standalone module (like groovy but a little less playful) and we can pick up the discussion later.

[2015-05-19 14:42] mjordan commented on #52
I'm running an instance as of 45b3e0acda5f0a967f736f66f823f453cfa5247a and I the purge UI elements are present.

[2015-05-19 15:14] mjordan commented on #52
I can troubleshoot too. Funny thing to stop working because of the way modules are enabled, but you're right, that's the leading suspect.

[2015-05-19 15:19] ksclarke commented on #53
:+1:

[2015-05-20 04:51] mjordan opened #54 "vagrant up dies when installing FITS"
I'm running a clean ``vagrant up`` at c76b8bf25f9eb9a6f30d3449f8aa4aafde73039a and the install is dying, I think at https://github.com/Islandora-Labs/islandora_vagrant/blob/master/scripts/fits.sh#L20 (or more likely at https://github.com/Islandora-Labs/islandora_vagrant/blob/master/scripts/fits.sh#L21). I'm attaching the output from vagrant up (in a Windows cmd shell).

![time_of_death](https://cl

[2015-05-20 05:04] ksclarke commented on #54
There doesn't seem to be a space in the config/variables file on the first line... #!/bin/sh

Try fixing that to: `#! /bin/sh` or taking that line out altogether?

That wasn't changed recently, but it just doesn't look like it's sourcing that file correctly (it's seeing blank lines as commands and doesn't look like the FITS variables are set?)

Alternatively, because of the \r instead of \n I wond

[2015-05-20 05:17] ksclarke commented on #54
I'm fine with removing them (for consistency) but leaning towards the Windows line ending theory at the moment as the cause.

[2015-05-20 05:29] mjordan commented on #54
Testing the shebang hypothesis first...

I'm happy to test on Windows, our box at home has lots of horsepower. I'm all thumbs when it comes to dev tools like git on windows though.

[2015-05-20 05:37] ksclarke commented on #54
I'm not a Windows user at all, but I do have some instances on VirtualBox that I can help test with later this week if the immediate theories don't pan out.

[2015-05-20 06:19] mjordan commented on #54
Culprit was line endings. I removed the shebang from `configs/variables` but that didn't solve the problem. I then put back the shebang and changed the line endings in that file from Windows' CR/LF to Linux's LF and everything works as expected. Good catch @ksclarke.

Maybe we suggest in the README that people running Windows hosts change the line endings in the `configs/variables` file using thei

[2015-05-20 13:50] ksclarke commented on #54
+1 to updating README

Also, in terms of consistency, we could also go the route of putting the shebang in every script file.  I must admit I found the absence of them unnerving but thought it must be a vagrant thing/convention.

[2015-05-20 14:01] mjordan commented on #54
@ruebot it's `configs/variables`, not fits.sh. If we all set `git config core.autocrlf` (and everyone else who touches that file sets) as described at https://help.github.com/articles/dealing-with-line-endings/ I think that will work. Worth a try. Want me to cut a new branch, try that, and test?

[2015-05-20 14:06] ksclarke commented on #54
Perhaps put it in a .gitattributes file in the repo so the user doesn't have to do anything, but it's set as a default for the repository?

[2015-05-20 14:07] mjordan commented on #54
Yeah, doing that now, will then test.

[2015-05-20 14:13] ksclarke commented on #54
I don't think they are windows line endings in the repo but only on checkout on a windows machine (git can change line endings on the fly).  Setting git to use crlf for the repo should work in all cases, imo.

[2015-05-20 14:16] ruebot opened #55 "Add shebangs to each shell script"

[2015-05-20 14:23] mjordan commented on #54
I'm testing a fork of my own, https://github.com/mjordan/islandora_vagrant/tree/ISSUE-54.

[2015-05-20 16:11] mjordan commented on #54
groan. Took an hour and half to build. I guess a 64-bit Win7 machine with an i5 processor and 12 gigs of RAM doesn't have as much horsepower as I thought. Network capacity was surely an issue since there was a lot of pausing at "Downloading...."

Anyhoo, adding the .gitattributes file as in my branch has fixed the problem on Windows hosts. Let me test on Linux when I get to work to make sure I did

[2015-05-20 17:08] mjordan commented on #54
If it's not a high priority, I'm going to pass on it.

[2015-05-20 18:08] mjordan commented on #54
Build successful in Linux. PR is at https://github.com/Islandora-Labs/islandora_vagrant/pull/56.

[2015-05-20 18:12] #54 closed

[2015-05-20 18:57] ruebot opened #57 "Move wget/curl calls to gists to config directory"
scripts/djatoka.sh:wget https://gist.githubusercontent.com/ruebot/6a58a0f3e946244d4fbc/raw/1c068e3fbb67179b90ee67c934b00d9dbdb4d973/kdu_libs.conf

scripts/djatoka.sh:curl -sO https://gist.githubusercontent.com/ruebot/06abc0b8373aa2f53e4a/raw/1fd9a69d5a42bb0f10ff5fc1a57dfdd5ee28da3c/log4j.properties
scripts/fcrepo.sh:  wget -q -O "/tmp/install.properties" "https://gist.githubusercontent.com/ruebot/

[2015-05-20 21:06] AndrewGearhart commented on #23
Seems the best way to support this (as vagrant doesn't support other command line arguments) is to use environment variables. so, it would be something along the lines of

[code]

and in the vagrantfile

[code]

I think this is a cool option, but my head is swimming with the number of variances for the different OS options (and their package managers).

[2015-05-20 21:54] ksclarke opened #58 "Seeing an error in drupal module enabling due to islandora_populator"
Anyone else seeing this error now?

    ==> default: Module ris_populator cannot be enabled because it depends on the         [error]
    ==> default: following modules which could not be found: islandora_populator

[2015-05-20 21:55] ksclarke opened #59 "Seeing an error in drupal module enabling due to islandora_openseadragon"
Anyone else seeing this error now?

    ==> default: Module islandora_openseadragon doesn't meet the requirements to be       [error]
    ==> default: enabled.
    ==> default: OpenSeadragon library missing; please consult the README for             [error]
    ==> default: installation instructions.

[2015-05-21 03:28] ksclarke commented on #59
Temporarily, only for testing purposes, I hope.

[2015-05-21 03:29] ksclarke commented on #58
Yes, it is: https://github.com/discoverygarden/islandora_populator

[2015-05-21 04:13] mjordan commented on #59
Is this an issue with the makefile or the [code that enables the modues](https://github.com/Islandora-Labs/islandora_vagrant/blob/master/scripts/islandora_modules.sh#L43)?

[2015-05-21 13:57] mjordan commented on #58
WRT the more general problem of being able to control which modules we don't want to enable automatically, https://github.com/Islandora-Labs/islandora_vagrant/blob/master/scripts/islandora_modules.sh#L61 is a very lame way to do this. I think a list of known problematic modules that are excluded from the INFOFILES array would be much preferred. If we agree on that approach, I will implement it.

[2015-05-21 14:11] mjordan commented on #58
That fixes the problem but we'll have to maintain the list in two places, there and in the makefile. If we wanted to keep the automated method of enabling modules we would definitely need to finesse the code a bit, and I'm happy to do that.

[2015-05-21 17:41] mjordan commented on #52
Yup, will do so this afternoon.

[2015-05-21 18:41] ksclarke commented on #52
I will too.

[2015-05-21 20:47] ksclarke commented on #58
I'm definitely interested in the automated method going forward, though understand if we have to temporarily roll back to get things sorted out.

[2015-05-21 21:00] mjordan commented on #52
We are sane. UI to purge objects at the object level and in a batch via their collection is there.

[2015-05-21 21:44] mjordan commented on #53
Made obsolete in some ways by the ability to use `scripts/custom.sh`. I've added one to [Islandora Groovy](https://github.com/mjordan/islandora_groovy/blob/master/vagrant/scripts/custom.sh) as an example.

[2015-05-22 00:09] #52 closed

[2015-05-22 00:10] #59 closed

[2015-05-22 00:38] #57 closed

[2015-05-22 11:37] #26 closed

[2015-05-23 21:52] lo5an opened #65 "Should we take a look at shellcheck (or any other code quality tools for bash) ?"
I've been writing more shell scripts lately, and I've started using [ShellCheck](http://www.shellcheck.net/). It seems to be a pretty decent static analyzer for bash, and I thought there might be some interest here in adopting that kind of tool.

[2015-05-23 22:15] ksclarke commented on #65
I'm interested. I wasn't aware of that tool, thanks for mentioning it!  Other Islandora projects use Ant to run code analysis tools.  I wonder should we include an ant script with this project that would run ShellCheck and any other applicable tools?  Sounds like a decent idea to me (and one I'd be willing to put in place if there is some agreement about doing it).

[2015-05-23 22:35] ksclarke commented on #65
@ruebot++

[2015-05-23 22:39] lo5an commented on #22
Did this not work out?   I was browsing through the code and it looks like the `drush make` stuff got reverted by [a later commit](https://github.com/Islandora-Labs/islandora_vagrant/commit/a744223852ec593b94384d1c2107b5d7f30572f8#diff-c23f7ab876ac167e05468ef79f046cb7).

[2015-05-23 22:48] ksclarke commented on #22
I think reverting was a temporary measure to address some breakage.  I'm hoping we can revisit the drush make approach after putting in place some tests (for instance, to check drush output for errors).

@ruebot So we should reopen this ticket? Or @lo5an if you can...

[2015-05-23 22:54] lo5an commented on #55
I got curious and played around with this a little bit. It might be that we want  `#!/bin/bash` instead of `#!/bin/sh`.

When I ran shellcheck on bootstrap.sh with `#!/bin/sh`, it reminded me that, for example:

[code]

[2015-05-23 23:29] ksclarke commented on #65
@ruebot After looking into Travis (and drone.io, AWS, and a few other options), I can't see a way to run Vagrant on these systems because of the virtualization of the underlying test system (VirtualBox can't access the kernel like it needs to).

The solution I've come up with is to have a Travis file that spins up a Windows EC2 instance (using AWS CLI, which I have used from Travis before) and hav

[2015-05-24 03:43] #55 closed

[2015-05-24 05:57] mjordan commented on #53
Sure. I'm going to move forward with a standalone sample content generator module that can be used in the vagrant via a custom.sh. This ticket can be closed with "won't fix."

[2015-05-24 12:32] #53 closed

[2015-05-24 16:57] lo5an commented on #55
:+1:

[2015-05-24 17:53] lo5an commented on #22
Maybe we should make this an optional thing? Leave the existing, working mechanism in as the default?

From my perspective, I like that drush make handles both modules and libraries, and I like the level of control that it gives you over what's installed, and from where.

For example, if someone has a local variant of a solution pack they want to work on, or if they have a custom islandora module

[2015-05-24 21:04] lo5an commented on #22
Right. drush make doesn't, as far as I know, solve any issues having to do with dependencies and enabling modules. It would just make it more straightforward to do stuff like install a custom modules, switch to a local fork of a Foundation module, or pin a particular version of a Foundation module.

It might also be a good way to handle letting people switch between HEAD and the latest islandora r

[2015-05-25 02:29] ksclarke commented on #22
Right, the make may not buy us much for an out of the box generic Islandora vagrant install for developers, but if we think about using the same scripts for a packer build (where there may be a desire for more customization) then I think it offers advantages.  The HEAD vs. latest stable is one thing we're interested in, as well as being able to install a bunch of other drupal (or local) modules we

[2015-05-26 17:07] ksclarke commented on #65
Yes, I think it's resolved now.

[2015-05-26 17:09] ksclarke opened #66 "Editing through Fedora's Flash admin client is broken"
In need of a sanity check... I don't seem to be able to edit a MODS datastream through the Fedora web admin client on an islandora_vagrant instance.  I just get a blank screen when I go to an object, select MODS, and then select "Edit Content".

[2015-05-26 17:18] mjordan commented on #66
I'm not getting a blank screen, but nothing happens when I click on Edit. Same thing regardless of ds. I'm at 694932f65552c8a8188d62cec2a6341cb99a976f.

[2015-05-26 17:39] ksclarke commented on #66
You're right... it's not a blank screen (that must have just been my mind at the moment of testing)... it's just that nothing happens.  Thanks for the confirmation.

[2015-05-26 18:20] ksclarke commented on #66
From @whikloj in the Islandora IRC channel: "seems to be a fedora xacml policy denial. Probably due to deny-apim-if-not-localhost.xml"

[2015-05-26 18:27] whikloj commented on #66
I was partially correct. Initially I wasn't seeing any data when I clicked on a datastream in the admin interface. Removing the policy allowed me to see and edit the data.
But clicking the "Save Changes" button says it works, but nothing changes and in the logs I see:

[code]

[2015-05-26 19:06] mjordan commented on #33
I'm still having problems with OpenSeadragon (at 694932f65552c8a8188d62cec2a6341cb99a976f). It wasn't rendering images, so I tried the two commands that @ruebot describes above. Here is the output, still with no working viewer (also ran the first one with sudo):

[code]

I'd be happy to help troubleshoot this, but I've never dug into OpenSeadragon before. Any ideas?

[2015-05-26 19:51] ksclarke commented on #33
When I run without sudo it doesn't work, but when I run with sudo it does:

[code]

I think we're a little all over the map with file permissions on this box.  Some files/dirs in modules and libraries are owned by vagrant:vagrant others by root:root and yet others by vagrant:web.  Planning on submitting a different ticket to have the whole file system (except Drupal files dir and related) consiste

[2015-05-26 19:55] ksclarke opened #67 "Clean up /var/www/drupal file/dir permissions"
I'd say that the Drupal directory structure at the end of the build should be owned/writeable by vagrant and be readable by the www-data group (with the exception of 'files' which needs to be writeable by the web user: www-data).  Other thoughts?  I see there is a "web" group that vagrant, tomcat7, and apache/www-data are in.  As it is now on the file system, some things are vagrant:vagrant, some

[2015-05-26 19:56] mjordan commented on #33
Still no luck for me with `sudo drush openseadragonplugin` (also disabled then re-enable the module):

`sudo drush openseadragonplugin
Openseadragon plugin has been installed in /var/www/drupal/sites/all/libraries                                          [success]`

I can confirm that /var/www/drupal/sites/all/libraries/openseadragon/ exists though.

[2015-05-26 20:01] ksclarke commented on #33
So, you don't get the error with sudo but the viewer still doesn't work on a page?

Do you get any Javascript errors on the page (or does Chrome network tools, or whatever, show any additional information... like some AJAX call that's getting a 404 response)?

[2015-05-26 20:09] mjordan commented on #33
That's correct. I've cleared my cache as well, just to be sure.

[2015-05-26 20:12] ksclarke commented on #33
Does [this](http://localhost:8000/adore-djatoka/resolver?url_ver=Z39.88-2004&rft_id=http%3A%2F%2Fmemory.loc.gov%2Fgmd%2Fgmd433%2Fg4330%2Fg4330%2Fnp000066.jp2&svc_id=info:lanl-repo/svc/getRegion&svc_val_fmt=info:ofi/fmt:kev:mtx:jpeg2000&svc.format=image/jpeg&svc.level=3&svc.rotate=0&svc.region=0,0,500,500) work for you?  If it does, I'd say take a look at the output from Chrome's network tools + ja

[2015-05-26 20:28] mjordan commented on #33
Yes, thanks, when I change the localhost port to (host) localhost:8001 (which is where I am running Apache) in that URL, I can see that map of Arizona and New Mexico.

Since I'm also running Tomcat on a non-standard port, (host) localhost:8081, I changed the djatoka proxy lines in apache's config file to use that port, just to see what would happen:

[code]

But, after restating apache, it still d

[2015-05-26 20:47] mjordan commented on #33
Tailing my apache access log I see the following request:

[code]

There is a 404 in there for /adore-djatoka/resolver though. Port seems to be alive or there wouldn't be a response, so it must have to do with the proxy configuration. I'll play around a bit more and report back.

EDIT: Just tailed the log and refreshed the request that you gave me (to render the Arizona map) and there's a 200 resp

[2015-05-27 00:15] mjordan commented on #33
Got it to work by running apache on guest and host 8000. I'll continue to look into why changing the host's port breaks it (but not anything else, presumably).

[2015-05-27 03:24] mjordan opened #69 "Using Features within custom.sh"
This isn't an enhancement issue, I thought I'd document something cool and potentially useful to others.

I've been playing with [Features](https://www.drupal.org/project/features) (and the accompanying [Strongarm](https://www.drupal.org/project/strongarm) module). Basically, you use these two modules to dump out various site configurations into a module, move the module to another Drupal instance

[2015-05-27 03:38] ksclarke commented on #33
@mjordan Had you changed the port 8000 in Vagrantfile too?  I don't understand Vagrant port mapping / handling, but noticed there is a setting in there too.

[2015-05-27 04:03] mjordan commented on #33
Up until about two builds ago I've only been using my laptop as a host with the following port mappings in Vagrantfile:

[code]

I do that because all those ports are all taken already on my host laptop. OpenSeadragon is the only thing that I've found doesn't work with those modified host ports. Doing a `grep -r` in the vagrant directory, I see that 8000 is hard-coded in a couple of apache config

[2015-05-27 04:31] #65 closed

[2015-05-27 04:46] lo5an commented on #22
Working on things [here](https://github.com/lo5an/islandora_vagrant/tree/l5n-drushmake).

Thoughts? Does this feel like a good candidate for an environment variable setting sort of thing? Or are people happy with just commenting in and out the appropriate couple of lines?

[2015-05-27 05:16] ksclarke commented on #67
Thanks @ruebot

So why not 755?  As you know, my end goal is to be able to reuse the scripts with Packer and it would be better (I'm told by the sysadmins) not to have the web user be able to write to the files it serves (the exception being the 'files' dirs).  I know this isn't as much of a concern on a temporary dev box that goes up and down as needed, but I'm wondering if there is a reason not

[2015-05-27 05:19] ksclarke opened #70 "Pull out things that can be put into variables into variables"
Some things to variablize...

port numbers, user names, passwords, etc.

[2015-05-27 05:20] ksclarke commented on #33
I've created a ticket to pull out things like ports (usernames, passwords, etc.) into variables: #70

[2015-05-27 05:23] ksclarke commented on #22
+1 to parameterizing rather than commenting in/out

[2015-05-27 14:58] whikloj commented on #33
The problem here is that you need both the outside and inside Tomcat on the same port, because the Tomcat builds the request using the port you define inside and sends it out to your browser which initiates the Ajax call.

So if your Drupal setup works with port 8080, but your external browser use 8081 then you will never see the page because your ajax call for the tiles is using 8080.

Not sure i

[2015-05-27 14:59] ksclarke commented on #67
The user group or the permissions?  I'm not sure it makes as much sense to expose the group and file permissions as variables.  There will already by a lot of them and I'm more inclined to try and limit the number of variables (to avoid variable fatigue -- is that a thing? -- for people setting up the system).

I'm fine with this ticket being about consistency and 775/vagrant:web are fine with me

[2015-05-27 15:58] whikloj commented on #66
I'll build it today and see if it works.

[2015-05-27 16:20] lo5an commented on #70
I need to do some of this for #22 so I was thinking about this last night.

We've got two spaces where we need variables: the Ruby script in our Vagrant file, and the various bash scripts. There's going to be some overlap, especially for things like port numbers. It looks like it's pretty easy for Ruby to make use of bash environment variables, so my inclination is to put everything in `configs/va

[2015-05-27 19:32] whikloj commented on #66
Looks good to me, able to edit and save XML in Fedora admin. See changes reflected immediately including new versions. Closed with https://github.com/Islandora-Labs/islandora_vagrant/commit/16f045a6d6be2431376f8fdd558ae62cf0afb697

[2015-05-27 19:32] #66 closed

[2015-05-28 22:02] lo5an commented on #70
An alternate method that might be more portable would be to do something like :

[code]

Although that has the downside of breaking if we use anything other than `var="literal"` in the variables file.

Both of these feel kind of clunky, and I get the feeling that I'm missing some obviously better solution.

[2015-05-28 22:15] ksclarke commented on #70
I thought I'd responded here, but I guess I never clicked submit.  We could write a simple little batch script to launch vagrant for Windows users (sourcing the variables from the file), but I actually assume (perhaps falsely) that anyone who'd want to build a Vagrant box, and who is stuck on Windows, would be using Cygwin or MSYS or something (where the first option would work).  Perhaps that's a

[2015-06-03 03:56] lo5an commented on #70
Just submitted PR #71 with two environment variables.

[2015-06-03 13:06] mjordan opened #72 "drush dcs doesn't work"
running `drush dcs` produces the following error:

```The drush command 'dcs' could not be found.  Run `drush cache-clear drush` to clear the commandfile cache if you have installed new extensions. [error]```

Clearing the drush cache doesn't help. I'll look into this.

[2015-06-04 05:24] mjordan commented on #72
Should be `drush en coder`, and after that, `drush dcs` does work. I'll open a PR in the morning.

[2015-06-04 14:27] mjordan commented on #72
PR is https://github.com/Islandora-Labs/islandora_vagrant/pull/73.

[2015-06-04 23:15] #72 closed

[2015-06-04 23:18] #67 closed

[2015-06-09 16:38] mjordan commented on #53
[Islandora Sample Content Generator](https://github.com/mjordan/islandora_scg) is now available.

[2015-06-17 20:37] mjordan opened #74 "Document how to scp files to the vagrant"
Where is says "You can connect to the machine via ssh: ssh -p 2222 vagrant@localhost" in the README, add "You can scp files to/from the machine via scp -P 2222 vagrant@localhost:/destination/path"

Can open a PR if this is OK.

[2015-06-18 23:21] mjordan opened #76 "Module directories installed by custom.sh don't have correct permissions"
custom.sh runs "privileged" (the default), and since it runs as the last provisioner script, any modules or libraries installed in it do not receive the permissions change added in 63a78f9 (and since custom.sh is privileged, the directoreis are owned by root). Two possible fixes: 1) document that any custom.sh that installs modules or libraries needs to run the following after it installs them:

[

[2015-06-24 04:03] mjordan commented on #74
Can we close this?

[2015-06-24 10:30] #74 closed

[2015-06-25 14:43] DiegoPino opened #77 "fedora 3.8.1 and $FEDORA_VERSION"
Hi, i noticed that if someone modifies $FEDORA_VERSION in
https://github.com/Islandora-Labs/islandora_vagrant/blob/master/configs/variables
 to 3.8.1 (last/current version) then fedora drupal filter download and installation issued by
https://github.com/Islandora-Labs/islandora_vagrant/blob/master/scripts/fcrepo.sh

fails because we are not providing
https://github.com/Islandora/islandora_drupal_f

[2015-06-26 16:36] mjordan opened #78 "chmod modifies git working directories in Islandora modules"
If you run `git status` in any of the Islandora module directories all files are indicated as 'modified'. `git diff` shows that the difference is 'old mode 100644 / new mode 100755'.

There is a `git config core.fileMode false` command that can nullify this behavior, but I can't find any evidence that it is configurable in .gitattributes, which would be the ideal place to tell git to ignore permis

[2015-06-26 17:50] ksclarke commented on #78
Wouldn't 644 be the proper permission for files (except scripts)?  It seems if someone wanted to override this for their own copy they could add it to their local git settings, but that the repo should be opinionated about default file permissions?

[2015-07-02 15:49] mjordan commented on #77
@DiegoPino, I think it is, at least filter version 3.8.0 works with fedora 3.8.1.

To get around the problem with using $FEDORA_VERSION in the filter URL (which as you point out fails), I've added a DRUPAL_FILTER_VERSION variable to configs/variables and referenced it where applicable in scripts/fcrepo.sh. If you want to take a look, the changes I've made are in https://github.com/mjordan/islandor

[2015-07-02 16:44] DiegoPino commented on #77
Hi @mjordan , looks good to me! Additionally, for documenting purposes i think we should also maintain a matching drupalfilter jar file for every supported version, even when the 3.8 (and i think the 3.7 also) works on 3.8.1. It's just a naming strategy, we could even make symlinks there, but for those installing  by hand (i have seen this on the forums) not having "the right name" there, is confu

[2015-07-02 18:00] mjordan commented on #78
Yes, the setting could be overridden locally on a repo-by-repo basis, but you'd have to do it on every module's repo. If that's OK, then there's no problem.

[2015-07-09 17:25] mjordan opened #79 "Add minimum/recommended RAM requirements to README?"
I haven't tested this, but I doubt this VM would run on a host with 4 GB of RAM. Should we add a note saying that we recommend having a minimum of 8 GB of RAM on the host? I have a 4-GB linux machine at home I can test on if needed.

There are a lot of 4 gig laptops out there.

[2015-07-12 16:02] #79 closed

[2015-07-13 17:32] mjordan commented on #77
No problem.

[2015-07-13 17:32] mjordan commented on #78
Sure, if that would work. Want me to test?

[2015-07-15 04:19] mjordan commented on #78
I added `git config --global core.filemode false` right after the line in bootstrap.sh that installs git (i.e., `apt-get -y install git vim`) and it didn't have any effect. Running `git status` in any Islandora module directory still shows that all files have been modified. When I run `git config --global --list` I get:

`fatal: unable to read config file '/home/vagrant/.gitconfig': No such file o

[2015-07-17 20:32] ksclarke opened #80 "Fedora 3 served from Sourceforge"
Sourceforge is in a world of hurt right now thanks to a "storage platform bug".  This breaks being able to download Fedora 3 because it's served from Sourceforge.  Perhaps the fedora script should be changed to get the software from the fcrepo3 GitHub site? https://github.com/fcrepo3/fcrepo/releases

[2015-07-17 20:34] MarcusBarnes commented on #80
@ksclarke Thank you for this update - you saved me significant debugging time as I've been trying to install a fresh copy of islandora_vagrant today.

[2015-07-17 22:10] ksclarke commented on #80
Hmm, seems the fcrepo3 release on GitHub doesn't have the installer (it's just a code snapshot).  There is a University of Kent Sourceforge mirror though (if getting it from a third party is acceptable for the Vagrant build -- or it could still be pulled from GitHub and built, which would be more time consuming): http://www.mirrorservice.org/sites/downloads.sourceforge.net/f/fe/fedora-commons/fedo

[2015-07-17 23:44] awoods commented on #80
Sure... rebuilding 3.8.1 now.
However, I am getting ConfigA test errors, so I would rather not post that installer.
Do you have a copy of the the installer that I can post "informally"?

[2015-07-20 16:03] awoods commented on #80
Thanks, @ruebot. I would rather not encourage the community to use 3.x versions other than 3.8.1, so let's hold off on publishing previous installers until there is public outcry.

[2015-07-20 16:09] awoods commented on #80
Do you currently test a certain set of 3.x versions?

[2015-07-20 16:15] mjordan commented on #80
@ruebot IMO we should hard-code islandora_vagrant to use 3.8.1. I can't think of a good reason not to, other than to test specific issues with older versions of FCREPO.

[2015-07-20 16:42] ksclarke commented on #80
"hard-code islandora_vagrant to use 3.8.1"

:+1:

[2015-07-20 17:00] mjordan commented on #80
Doing that would also resolve #77.

[2015-07-20 17:04] awoods commented on #80
https://github.com/fcrepo3/fcrepo/releases/tag/v3.8.1

Please sanity test.

[2015-07-20 23:31] #77 closed

[2015-07-20 23:32] #80 closed

[2015-07-20 23:32] #78 closed

[2015-07-21 09:39] giancarlobi opened #81 "Tomcat users settings reset at the end of install/configure process"
I noted a minor problem:
boostrap.sh script sets user/password in tomcat-users.xml for manager-gui role
but
at the end of vagrant up process the tomcat-users.xml is reset to original one without manager-gui role entry.
Maybe it depends on updates after bootstrap.sh script execution.
I manually changed tomcat-users.xml and all works fine.

Giancarlo

[2015-07-23 17:36] mjordan opened #82 "default/files is not writable by the www-data"
The public file system directory, /var/www/drupal/sites/default/files, is not writeable by the web server user:

[code]

Uploading files via the Drupal GUI produces the expected error.

Is there any reason that directory should be owned by vagrant and not www-data? Or that it's not writeable by the www-data group?

[2015-07-23 18:38] #81 closed

[2015-07-23 18:40] #82 closed

[2015-08-10 19:43] ruebot opened #83 "Set v.name for virtualbox"
See https://github.com/Islandora-Labs/islandora/blob/b7beb393a1713f2b131be95d5878a7e05eed88b7/install/Vagrantfile#L11-L13

[2015-08-10 19:46] #83 closed

[2015-08-17 13:07] ruebot opened #84 "Add Islandora Usage Stats"
Islandora Usage Stats is a new Islandora Foundation module, and will be apart of the 7.x-1.6. It should be added to the build.

[2015-08-17 13:07] #84 closed

[2015-08-19 22:06] ruebot opened #85 "Add islandora_form_fieldpanel to the build script"

[2015-08-19 22:06] #85 closed

[2015-08-23 03:00] ruebot opened #86 "Use 3.8.1 Drupal filter"
[ISLANDORA-1352](https://jira.duraspace.org/browse/ISLANDORA-1352) has been successfully resolved. We can now use the appropriate filter.

[2015-08-23 04:54] #86 closed

[2015-08-26 19:38] ruebot opened #87 "symlink $DRUPAL_HOME to shared directory"
symlink $DRUPAL_HOME to shared directory so a developer can use their editor of preference.

We can crib from [7.x-2.x](https://github.com/Islandora-Labs/islandora/tree/7.x-2.x/install) vagrant which does this already.

[2015-08-27 21:12] ruebot opened #88 "Add islandora_altmetrics"

[2015-08-27 21:13] #88 closed

[2015-08-28 16:47] #58 closed

[2015-08-31 17:26] ruebot opened #89 "Missing cite-proc"

[2015-08-31 17:29] #89 closed

[2015-09-21 02:24] ksclarke commented on #27
:+1:

[2015-09-21 10:33] ruebot opened #91 "How should we handle the islandora-base -- separate branch or separate repo? #27"
This stems out of #27, and got me thinking about the fundamental basis of Islandora Vagrant, do we want the repo to just build this small part it does now, or the whole environment? Should we have two separate repos, or just separate branches? If two branches, which should be master; the whole environment, or just the Islandora modules & libraries?

[2015-09-21 12:07] AndrewGearhart commented on #91
I think they should be separate repos. Branching is fundamentally for different parts that will ultimately be merged... not separate parts of a whole. Since the existence/creation of a new base box is a potentially repeatable 'chunk' ... I think it should be in a different repository.

[2015-09-21 14:31] Rarian commented on #91
Another vote for two distinct repositories.  Something like islandora_stack_vagrant to build the base image that islandora_vagrant uses.

[2015-09-21 15:41] lo5an commented on #91
One other possibility would be to leave it all in the same repository and add a configuration option to let people choose to build from a downloaded base box, build just the base box, or build it all from scratch.

I'd vote for two distinct repositories over trying to organize things with branches.

[2015-09-21 16:17] mjordan commented on #27
I tried it last night and the base box took over 1.5 hours to download (I went to bed after that, didn't time the complete build), but this morning, it was almost instant, like < 5 minutes. I had to use `vagrant up --provision` since `vagrant up` on its own would only tell me that the box was already running.

[2015-09-21 16:21] mjordan commented on #27
How big is the base box? It appeared to download way faster than possible (I'm on wireless).

[2015-09-21 16:26] mjordan commented on #27
OK, I just discovered I'm running the same box I was  before (that explains the download time). Do I have to `destroy` that one to try the new base box?

[2015-09-21 16:28] mjordan commented on #27
OK, don't want to destroy the box on my laptop, I'll try at home again tonight.

[2015-09-21 17:29] whikloj commented on #27
Built fine for me. :+1:

[2015-09-21 18:46] lo5an commented on #27
Looks pretty worky to me.

[2015-09-21 20:25] lo5an commented on #29
Using a base box gets rid of most of the pain of vm rebuilds for most people, so I'm happy to call this solved.

[2015-09-21 20:25] #29 closed

[2015-09-21 20:28] philred commented on #27
We have a pretty good connection here, but that still saved about 10 minutes.

[2015-09-21 20:39] lo5an commented on #27
I just sent a PR removing the generic vmware basebox, since it doesn't make sense if we're not doing the full install.

[2015-09-22 16:19] philred commented on #91
@ruebot do you have a repo with your atlas packer vagrant basebox build?

[2015-09-22 16:27] philred commented on #91
@ruebot thanks! I didn't see that branch.

[2015-09-24 16:39] mark-cooper commented on #91
My 2 cents is to keep a single repository. If the difference is just which base box to use then that's a small difference compared with keeping everything else up to date in two separate repositories, and I agree that branches are not ideal for this. I like the suggestion from @lo5an:

"One other possibility would be to leave it all in the same repository and add a configuration option to let peop

[2015-09-24 17:53] lo5an commented on #91
If we were to do two repositories, I think it would make the most sense to do a repo that was only for building the base box, and a repo that was only for installing the Islandora modules & libraries on top of the base box.

[2015-09-24 19:54] philred commented on #91
It also depends on whether we're dropping the full vagrant install or not. Either way, are we going to end up having tagged branches similar to the canonical islandora modules mirroring the releases?

[2015-09-28 00:00] whikloj commented on #91
So I'm clear is the use case here that if your configuration is different you could fork the base box and apply your configuration on top?

If so, then I'd say 2 repos. The configuration repo builds a vagrant instance using the base box from the base box repo.

[2015-09-28 01:14] DiegoPino commented on #91
My vote goes for 1.- Split into two repos :+1:

[2015-09-28 01:47] whikloj commented on #91
@ruebot, so one would be the old vagrant build off of the base atlas box and the other would be the new islandora box. Would they both still install all the same apps and libraries? I can't see a used for the old base box now that we have the new one so maybe I am misunderstanding the whole question?

[2015-09-28 02:27] whikloj commented on #91
OK, so I think we are on the same page. So I still vote for 2 separate repos. Much like what @lo5an said [here](https://github.com/Islandora-Labs/islandora_vagrant/issues/91#issuecomment-143003612).

[2015-09-28 14:46] bradspry commented on #91
The Islandora Vagrant Base Box is for Virtualbox.   Maybe the new, separate repo name should reflect Virtualbox, because the day is coming when we can: [vagrant up --provider=aws](http://www.cantoni.org/2014/09/22/quick-guide-vagrant-amazon-ec2)
(or any provider of your choice)

Such a future would allow us to build and test on server class configurations using real-world load testing.

[2015-09-28 15:13] bradspry commented on #91
@ruebot I'm speaking specifically to development and testing, being able to "vagrant up" a server-class VM for real world load testing.  Example tests include big data ingests and subsequent big data BagIt generation.  It's mission critical for the software and overall system to be load tested.

#70 is awesome, I have ideas... like rerouting logs to /var/log/islandora/service_name

[2015-09-28 21:26] egillis commented on #91
I would look at how much is similar or different in structure vs usage and forward usage needs or expecations. I mean, if islandora vagrant base would always be the core of the islandora vagrant and only islandora vagrant, then I'd think one repo with two branches. If the base is used to build other vagrants (i.e. a theoretical "islandora test vagrant" or "islandora slim vagrant" etc) then I could

[2015-09-28 21:49] bradspry commented on #70
Here's a link to some basic information about [Vagrant and AWS](http://www.cantoni.org/2014/09/22/quick-guide-vagrant-amazon-ec2); I'm wholeheartedly interested in developers having the means to generate server-class Islandora VMs for the specific purpose of load testing.   I have experienced code and system failure due to high loads.  Developers should be able load test their software, so they ca

[2015-09-28 22:02] egillis commented on #91
The option I vote for depends on what the foundation is for. If there is
little development workflow outside of "islandora base vagrant" &
"islandora vagrant" then I vote one repo two branches. I'd there is scope
to use the base for other development projects (ie if there is a want for
things like a "slim", or "test" type vagrant builds) then I would vote for
multiple repos.
Trying to learn more (

[2015-09-28 22:06] mjordan commented on #76
:+1:

[2015-09-28 22:15] egillis commented on #91
Yes, that helps! Thanks Nick!
I would vote for two repos. Give flexibility for the base box to be a base
for other things.

##

Sent from mobile device. Please ignore brevity and typos.
On Sep 28, 2015 6:07 PM, "Nick Ruest" notifications@github.com wrote:

[2015-09-28 23:22] bradspry commented on #91
@ruebot If two repos ultimately equates to faster build time, it would make a big difference in clean room testing and validation.  'vagrant destroy' wouldn't remove the "box" right, just the VM?

It would go something like:
1. vagrant up
2. test, test, test
3. vagrant destroy
4. vagrant up (doesn't download "box" again, faster build time) right?

[2015-09-28 23:24] #76 closed

[2015-09-29 11:27] philred commented on #91
I vote for two repos as well.

[2015-10-01 12:28] #70 closed

[2015-10-01 12:32] #27 closed

[2015-10-01 12:33] #23 closed

[2015-10-01 12:40] #91 closed

[2015-10-01 12:41] DiegoPino commented on #91
:+1: great!

[2015-10-01 12:44] #87 closed

[2015-10-05 14:29] ruebot opened #93 "Update base box to pull from Islandora atlas account instead of ruebot atlas account"

[2015-10-05 15:16] #93 closed

[2015-10-15 21:45] ruebot opened #94 "Checksum function doesn't activate until save button is pressed once -- ISLANDORA-1477"
See: https://jira.duraspace.org/browse/ISLANDORA-1477

[2015-10-15 21:46] #94 closed

[2015-12-10 10:04] ravn commented on #91
Coming late to the party.   Is the amount of work necessary necessary for going from a plain install to the base box so big that it cannot be done as part of the normal vagrant "bring box up" provisioning part?

[2015-12-10 14:19] ravn commented on #91
I was thinking of "work" in the sense of the work needed by the computer.  I have now had a closer look at the base box scripts.  I can see that there are compilations and sleeps so it makes sense.

[2016-02-10 04:50] ruebot opened #98 "Update bash scripts to acommodate new version of shellcheck"

[2016-02-10 13:39] #98 closed

[2016-03-23 12:09] DonRichards opened #101 "README vagrant ssh #documentation"
Add example for SSH to include the short hand vagrant command vagrant ssh

[2016-03-23 13:13] #101 closed

[2016-03-24 16:27] petermacdonald opened #103 "jwplayer library missing from vagrant image"
Is there some reason that "islandora_libraries.sh" script does not include downloading the jwplayer library? This library is, after all, a dependency of the JWPlayer module, which is included in the islandora_vagrant image.

Is it left out because the JW Player company requires that people register before they can download the jwplayer library? Can we bypass that registration step and add the libr

[2016-03-24 21:13] petermacdonald commented on #103
I thought that was probably the case, Nick.

This whole issue came up because I am testing the JW Player module on the
Vagrant 7x.1.7 Vagrant image, which I'm happy to do. But I spent about 4
hours writing down all the errors I was getting trying to ingest videos of
different sizes so I could test the JW player until I look in the
sites/all/libraries directory and saw that the jwplayer library was

[2016-03-25 16:09] #103 closed

[2016-05-17 16:56] DonRichards commented on #69
Is this a complete set of instructions from within your example code? Should this live in the README?

[2016-06-22 20:00] bryjbrown opened #106 "VM should come preloaded with sample objects of each cmodel"
I use the Vagrant VM a lot for testing, and while I don't mind the whole destroy/up cycle to rebuild the machine, I DO get annoyed at having to manually ingest objects so I can do my tests.

This process would be greatly helped by having the VM populated with sample objects of each cmodel as part of the provisioning process. There are various ways we could do this, so I'm open to suggestions.

[2016-06-23 13:13] bryjbrown commented on #106
@ruebot My bad, I should have looked through the closed issues. Retagged with 'wontfix' and closed.

[2016-06-23 13:13] #106 closed

[2016-07-19 13:45] mjordan opened #108 "Indicate versions of VirtualBox that are compatible with Vagrant, and that virtualization must be enabled"
Some lessons learned from helping people at iCamp: some laptops don't have virtualization turned on in the BIOS, and VirtualBox's most recent version, 5.1, is not compatible with Vagrant (oldest is 5.0.x).

We should update the README to include these tips.

[2016-07-19 16:38] DonRichards commented on #108
Merged

[2016-07-19 16:38] #108 closed

[2016-07-19 17:36] ruebot opened #110 "Update "Environment" section in README"
As noted [here](https://github.com/Islandora-Labs/islandora_vagrant_base_box/pull/14#issuecomment-228456724).

See also: https://github.com/Islandora-Labs/islandora_vagrant_base_box/issues/18

[2016-07-20 12:15] lutaylor commented on #110
See pull

https://github.com/Islandora-Labs/islandora_vagrant/pull/111

[2016-07-20 13:17] DonRichards commented on #110
Merged
Thanks!

[2016-07-20 13:17] #110 closed

[2016-07-20 13:59] lutaylor commented on #110
@DonRichards @ruebot

https://github.com/Islandora-Labs/islandora_vagrant/pull/112

my bad was running against the actual base box

[2016-07-20 18:10] shauntru opened #113 "GSearch authorization in README.md is incorrect"
I tried to sign in to the GSearch webservice at http://localhost:8080/fedoragsearch/rest and the authorizations listed in the README (username: fgsAdmin password: fgsAdmin) didn't work.

It turns out after some trial and error that the username and password listed for Fedora in the README did allow me to sign into GSearch (username: fedoraAdmin password: fedoraAdmin)

[2016-07-21 12:06] DonRichards commented on #113
Looks like you're right. Thanks for pointing that out. I'll create a pull request now and I'll add URLs for the Fedora.

[2016-07-21 12:43] DonRichards commented on #113
Looks like you're right. Thanks for pointing that out. I'll create a pull request now and I'll add URLs for the Fedora.

[2016-07-21 12:45] DonRichards opened #114 "host-manager Login fails"
`http://localhost:8080/host-manager/html`

Login fails:
  - username: islandora
  - password: islandora

[2016-07-22 13:50] DonRichards commented on #113
Merged. Thanks @shauntru for pointing this out

[2016-07-22 13:50] #113 closed

[2016-07-24 18:47] shauntru commented on #113
No problem!

[2016-09-06 15:23] #114 closed

[2016-09-06 15:30] DonRichards commented on #69
Is this the same as Islandora Sample Content Generator?
Should we invest the time to add a custom script and put this on it? It would be a good example of what could be done.

Or should we close this for now?

[2016-11-10 15:12] DonRichards opened #118 "Warning: SimpleXMLElement parser error"
Warning Message showing up by default
[code]

[2016-11-10 15:28] mjordan commented on #118
This appears to be a problem with Drupal's update notification system. Did something with the PHP configuration on the vagrant change recently to prevent it from fetching module updates status from d.o.? Or maybe something like an addition to the vagrant's [hosts file](https://www.drupal.org/node/2009806)?

[2016-11-10 15:29] mjordan commented on #118
Sorry, I guess both of these potential causes would apply to the base box, not islandora_vagrant.

[2016-11-10 15:41] DonRichards commented on #118
Now that you said that, I'm going to check base box.

[2016-11-21 21:28] nate-rcl opened #119 "Looks like there might be an issue with coder-review command"
1.  Cloned islandora_vagrant: git clone https://github.com/islandora-labs/islandora_vagrant
2. vagrant up
3. vagrant ssh
4. cd /var/www/drupal/
5. drush coder-review --reviews=production,security,style,i18n,potx,sniffer islandora

Got the following error:

`WD php: PHP_CodeSniffer_Exception: Class PHP_CodeSniffer_CommentParser_ClassCommentParser not found in include_once() (line 13 of  [error]
/va

[2016-12-01 13:33] lutaylor commented on #119
I have successfully replicated this and tried upgrading PHP codesniffer which got rid of the error but a new one appeared. I have another box that I don't have this problem but I had it locked at an older version of codesniffer

Thinking we could try changing

https://github.com/Islandora-Labs/islandora_vagrant_base_box/blob/master/scripts/devtools.sh#L54

To something like
pear install PHP_CodeSn

[2016-12-02 20:12] DonRichards commented on #119
Did you check 1.5.6 works? You can do a PR with the change and I'll test it.

[2016-12-07 15:50] lutaylor commented on #119
I have it working on another box and I tried cutting new test box but seems to be having issues with the version of coder we are using. Any idea why we are using coder 8.x vs 7.x?

[2016-12-07 21:12] DonRichards commented on #119
Possibly because its newer. That's a good reason right ;-)

[2016-12-08 16:13] lutaylor commented on #119
I suppose so. Going to keep poking at this ideally working with newer versions.

[2016-12-13 15:16] lutaylor commented on #119
Seems that the issue is this https://github.com/lutaylor/islandora_vagrant_base_box/blob/master/scripts/devtools.sh#L55-L63 is conflicting with https://github.com/lutaylor/islandora_vagrant_base_box/blob/master/scripts/drupal.sh#L114-L115

Now I can make it work if I remove the coder-8.x bit and install PHP_CodeSniffer 1.5.7 (due to this https://www.drupal.org/node/2387871)  and leave the coder 7.

[2016-12-15 18:32] DonRichards commented on #119
I like it. You should put in a PR with that change and I'll take a look.

[2016-12-19 19:49] lutaylor commented on #119
https://github.com/Islandora-Labs/islandora_vagrant_base_box/pull/25

[2017-01-11 19:06] #119 closed

[2017-01-19 13:51] DonRichards opened #120 "Permissions for anonymous user"
Not able to get to the collections as anonymous user. I think this might be confusing for the on-boarding process. This is a simple change. Would anyone be interested in it?

[2017-01-20 17:59] lutaylor commented on #120
Would we want to add "Search the Solr index" as well if we are adding rights to view fedora objects?

[2017-01-25 19:51] #120 closed

[2017-01-25 19:51] DonRichards commented on #120
https://github.com/Islandora-Labs/islandora_vagrant/pull/121

[2017-02-08 17:36] bryjbrown opened #122 "Documentation on manual testing"
Each module that has a .travis.yml file in it is running certain tests via drush coder-review (`drush coder-review --reviews=production,security,style,i18n,potx,sniffer islandora_module_name`), but I can't get this same command to run inside of islandora_vagrant. Running the command outputs the following error:
[code]

I keep failing Travis reviews for things like trailing whitespace so I'd love t

[2017-03-23 14:43] DonRichards commented on #122
This sounds good! I'll look into it.

[2017-03-24 19:36] bryjbrown opened #124 "Add PHPENV (or some simple way to switch PHP versions for testing)"
I'm trying to test a bug that only shows up in PHP7. Would be nice to have a CLI util for switching the global PHP version to make troubleshooting easier.

[2017-03-31 16:31] lutaylor commented on #124
Please see discussion here https://github.com/Islandora-Labs/islandora_vagrant_base_box/issues/28

PHP7 unfortunately would mean switching to Ubuntu 16.04. It has been proposed to roll a seperate vagrant box that runs the newer ubuntu and PHP7.

[2017-04-04 19:16] DonRichards commented on #124
This needs to happen at the base box version I believe. Related issue https://github.com/Islandora-Labs/islandora_vagrant_base_box/issues/28

[2017-08-04 14:22] bondjimbond opened #127 "Included GhostScript version (9.10) fails to extract PDF pages on RGB format"
See https://jira.duraspace.org/browse/ISLANDORA-2035

I've had this problem in my production repository using 9.10, and running tests in Vagrant, discovered that it also has v. 9.10 and the same issue.

Extracting TIFFs from PDFs (in, for example, a newspaper issue PDF ingest) fails to create TIFF OBJ files when using RGB image format, meaning all derivative creation for the objects fails. Changin

[2017-08-23 20:03] DonRichards commented on #127
That's an interesting find but GhostScript version isn't assigned from vagrant. But you created a ticket for it in Jira so that's the right place to start. I'm on the committers call and I will make sure it's discussed then as well. I'm going to close this ticket for now unless you believe it should be addressed here as well?

[2017-08-24 02:16] lutaylor commented on #127
The version being installed is coming from the Ubuntu repos.

Something like this will work:
[code]
However, it is a really old version.

[2017-08-24 12:56] DonRichards commented on #127
@lutaylor Do you think this might be a syntax issue that can be corrected within the Islandora code?
An example of something similar is with ffmpeg. If we upgrade to the latest version you have to drop one of the switches it uses in the video solution pack because it's no longer needed. I'm think this might be the case again.

[2017-08-30 14:43] lutaylor commented on #127
@DonRichards
I think some of the switches were deprecated. We likely have to modify this to accommodate newer versions:
https://github.com/Islandora/islandora_solution_pack_pdf/blob/7.x/includes/derivatives.inc#L153

[2017-09-06 19:48] DiegoPino commented on #127
@bondjimbond can you confirm that all 9.10 versions fail? I see two: Which is quite recent
https://launchpad.net/ubuntu/+source/ghostscript/9.10~dfsg-0ubuntu10.10

and https://launchpad.net/ubuntu/+source/ghostscript/9.10~dfsg-0ubuntu10
which was the original one from 2014.

Wonder if the first (security update) produced this?

[2017-09-06 19:51] bondjimbond commented on #127
@DiegoPino I'd love to attempt it, but I've no idea how to change my GhostScript version. What's the procedure?

[2017-09-06 20:19] DiegoPino commented on #127
@bondjimbond could be tricky. First, you need to remove the new one:
[code]
Then you need to force libgs to that version and then (-f optional) go for the original ghostscript
[code]

Quite a lot of issues lately on newer ghostscript release...

[2017-09-20 18:30] DonRichards commented on #127
Just so I'm completely clear on how to replicate this. @bondjimbond

1. Ingest 2 newspapers (ideally multiple pages)
   - Using TIFFs images
     - 1st newspaper TIFFs should be RGB (to fail)
     - 2nd newspaper TIFFs should be CMYK (to pass)
2. Check if derivatives were properly generated
3. Follow Diego's instructions (reverting to GhostScript version 9.05)
4. Run the first 2 steps again to see

[2017-09-20 18:33] bondjimbond commented on #127
@DonRichards Close. Ingest using PDFs, not TIFFs. GhostScript extracts TIFFs from the PDFs. You can use the PDF linked in the original comment for testing.

[2017-09-20 18:34] bondjimbond commented on #127
@DiegoPino Sorry, I missed your comment while I was on vacation. I see some other stuff relating to GS has gone through... do you still need me to confirm whether other versions fail?

[2017-09-20 19:42] DonRichards commented on #127
@bondjimbond so to revise my question

1. Ingest 2 newspapers (ideally multiple pages)
   - Using a PDF
     - 1st newspaper PDF should use the PAGE IMAGE SETTINGS at the upload page of 48-bit RGB, 150 DPI or 300 DPI with Extract text from the PDF
     - 2nd newspaper PDF should use the PAGE IMAGE SETTINGS at the upload page of 32-bit CMYK, 300 DPI with Extract text from the PDF
2. Check if deriva

[2017-09-20 20:09] bondjimbond commented on #127
@DonRichards Looks good!

[2017-09-20 20:42] DonRichards commented on #127
Hmm.... I'm rebuilding, I just saw this merged PR from a few days ago. https://github.com/Islandora/islandora_paged_content/pull/137/files#diff-2d69368f59ba81d5635cd8274dd66090R1181

[2017-11-13 21:32] rosiel opened #135 "Can we rename the main branch to 7.x?"
Right now it's "master" which is the git default, but it's not very expressive, and it's different from all our other repos.

Is there a way to rename it without breaking current "installations" and, if not, would it be worth doing anyway?

[2017-11-15 13:10] DonRichards commented on #22
I believe this should be closed. Not sure it is relevant any more. @lutaylor

[2017-11-15 13:11] DonRichards commented on #135
I was thinking about this recently. I think it's a good idea to be consistent with the rest of the community

[2017-11-15 13:19] DonRichards commented on #135
I just put in a PR to merge 1.10 into master then I'll address this ticket.

[2017-11-15 13:24] lutaylor commented on #22
@DonRichards I would be inclined to agree. We can re-open if necessary.

[2017-11-15 13:24] #22 closed

[2017-11-15 13:53] DonRichards opened #137 "$DRUPAL_HOME not working"
Ridiculously simple but I'm adding this here as a reminder that $DRUPAL_HOME isn't set.

[2017-12-11 22:53] jonathangreen opened #139 "Install IIIF server"
When / if these PRs land:
https://github.com/Islandora/islandora_internet_archive_bookreader/pull/113
https://github.com/Islandora/islandora_openseadragon/pull/90

We will be able to replace Djatoka with a IIIF server with configuration. In order to facilitate testing as @DiegoPino pointed out on the PR it might be nice to have an IIIF server installed in the Vagrant box.

Since its an optional co

[2017-12-11 23:12] DiegoPino commented on #139
Great!!!
El El lun, 11 de dic. de 2017 a las 17:53, Jonathan Green <
notifications@github.com> escribió:

--
Diego Pino Navarro
Digital Repositories Developer
Metropolitan New York Library Council (METRO)

[2017-12-12 00:02] mjordan commented on #139
@jonathangreen my $0.02 is that it would be awesome to install an IIIF server on the vagrant to facilitate testing, but to not make it the default. That way, everything continues to work out of the box but those that want to tinker with the IIIF option have been saved some extra work.

[2017-12-12 13:31] lutaylor commented on #139
@jonathangreen
Great idea. I am actually currently trying this out myself on a few boxes. I agree with @mjordan perhaps make it not default at first till maybe the next release? If @DonRichards agrees I can throw a PR together.

[2017-12-12 22:21] jonathangreen commented on #139
@lutaylor that sounds awesome possum to me.

[2018-01-03 02:55] lutaylor commented on #139
@jonathangreen

 I am still working on this.

I have a PR pretty much ready [here](https://github.com/Islandora-Labs/islandora_vagrant_base_box/compare/master...lutaylor:master). However when I am testing does not want to load images into the viewer. The following error appears in the Tomcat logs:

`[http-bio-8080-exec-2] ERROR e.i.l.c.r.HttpResolver - retrieveHEADResponse(): Illegal character in

[2018-02-01 13:12] lutaylor commented on #139
@jonathangreen
Still not having much luck with this. Any ideas?

[2018-04-06 11:49] rosiel commented on #135
@DiegoPino @DonRichards should we consider this again - now that vagrant is getting its release-time checkup? I still got confused because there's a 'master' and a '7.x' branch that's a little behind.

Is it possible to rename a remote branch and cause anyone formerly tracking master to now track 7.x?

[2018-04-06 17:45] DonRichards commented on #135
@rosiel What I can do is create a new branch from master (7.x) and make it the default. And for a while keep the default(master) but add some a warning somewhere that the master branch is deprecated. Thoughts?

[2018-04-06 17:49] DonRichards commented on #69
@mjordan OK, looking at this with fresh eyes and I think I completely missed the point. I see now. Do you still feel this would be useful (I do)?

[2018-04-06 17:49] DonRichards commented on #118
User develop environment was the issue.

[2018-04-06 17:49] #118 closed

[2018-04-06 17:59] mjordan commented on #69
@DonRichards blast from the past. We used Features quite a bit preparing for our migration, but since then I haven't used them much on the Vagrant. So I'm OK with closing this.

[2018-04-06 18:01] DonRichards commented on #139
@lutaylor how's the PR going? Checked to see if java needs a port ported through the vagrant file? Your config is trying to open ports 8182 & 8183. I don't believe these will be reachable unless you also add the vagrantfile's [config.vm.network](https://github.com/Islandora-Labs/islandora_vagrant/blob/master/Vagrantfile#L30-L32).

[2018-04-06 18:01] DonRichards commented on #69
lol, thanks

[2018-04-06 18:01] #69 closed

[2018-04-06 18:29] DonRichards commented on #122
@bryjbrown I was able to run this in islandora_vagrant without any errors.

Is this the steps you're using?

[code]

And from what I've read the last line `Drush command terminated abnormally due to an unrecoverable error` is because of how the command exits and is not an actual error.

[2018-04-06 18:30] DonRichards commented on #122
Something to note, you will always have to run it from within `/var/www/drupal/`. In fact I've experienced issue with some drupal commands from operating from within a child directory.

[2018-04-06 19:18] bryjbrown commented on #122
I think that this must have occured at a time when codesniffer was broken or misconfigured, and that time has since passed. I totally forgot about this issue and have been running `drush coder-review` many times lately without issue. You can close this.

[2018-04-06 19:19] DonRichards commented on #122
No problem. Thanks!

[2018-04-09 14:44] lutaylor commented on #139
@DonRichards
Sorry for the late reply my wife just had a baby so not checking email very often. I will be back in the office next week. It is currently bringing up Cantaloupe in Tomcat so it doesn't use those ports (it only would with Jetty).

[2018-04-09 15:07] DonRichards commented on #135
OK, this has been done to avoid confusion.

[2018-04-09 15:07] #135 closed

[2018-04-09 15:35] DonRichards commented on #139
@lutaylor Congratulations!!

[2018-04-10 14:46] lutaylor commented on #139
@DonRichards
I figured out the problem with the HttpResolver I will have a PR in later this week or next week.

[2018-04-10 15:07] DiegoPino commented on #139
@lutaylor if it works for you I have this done and ready (it is what is deployed on the RC1 cantaloupe OVA machine) and includes enabling, setting up on Drupal, etc. The pull is ready to be made and tested. let me know if the RC1 OVA is good enough for you folks!

[2018-04-11 13:58] lutaylor commented on #139
@DiegoPino
Sure if you already have a PR ready go ahead. For future reference, this is where I ran into an issue with the port forwarding in the Vagrant box https://github.com/discoverygarden/cantaloupe_configs/blob/master/delegates.rb#L143. I had to update it to be:
`"http://localhost:8000/islandora/object/#{pid}/datastream/#{dsid}/view?token=#{token}"`

[2018-04-11 14:04] DiegoPino commented on #139
Cool, found the same issue. After that I found another issue (solved also) when passing the ports forwarded from/to apache. so the manifest was being built wrongly. OpenSeadragon was not able to deal with the returning JSON-LD in the right manner. Will pull during the morning. Thanks!

[2018-05-01 19:47] DonRichards commented on #139
@DiegoPino Did this get resolved with the PR https://github.com/Islandora-Labs/islandora_vagrant/pull/149 ?

[2018-05-01 19:47] DonRichards commented on #137
Resolved.

[2018-05-01 19:47] #137 closed

[2018-05-01 20:08] DiegoPino commented on #139
@DonRichards yep. Resolved.

[2018-05-02 13:25] DonRichards commented on #139
Thanks @lutaylor for testing and thank you @DiegoPino for making the change.

[2018-05-24 17:36] csqrs commented on #127
FYI, Ghostscript 9.18, default under Ubuntu 16, produces no errors and good output
for the following commands (taken from 'islandora_paged_content', the
'islandora_paged_content_extract_tiff_from_pdf' function):

gs -q -dNOPAUSE -dBATCH -sDEVICE=tiff48nc -sCompression=none -sOutputFile=tst-300-48-p1.tiff -r300dpi -dFirstPage=1 -dLastPage=2 sample-multipage.pdf

gs -q -dNOPAUSE -dBATCH -sDEVICE=tif

[2018-05-25 18:54] lutaylor commented on #127
http://git.ghostscript.com/?p=ghostpdl.git;h=2001f469b539a5ccce301ace5d6384b6b7e46888 it wasn't included till Ghostscript 9.12 https://www.ghostscript.com/pipermail/gs-cvs/2014-March/017368.html the highest version in 14.04 is 9.10.

[2018-06-07 17:37] lutaylor commented on #127
@csqrs
Looks like it was actually fixed under https://github.com/Islandora/islandora_paged_content/commit/723004bb732d171ae7ad49f994878cc454641629 still doesn't allow compression however for older versions.

We could just use https://github.com/Islandora-Labs/islandora_vagrant_base_box/pull/32 to avoid having to go without compression https://github.com/Islandora/islandora_paged_content/blob/7.x/i

[2018-06-18 18:54] DonRichards commented on #127
OK, looking at it momentarily.

[2018-07-16 17:02] #127 closed

[2018-09-05 15:49] DonRichards opened #151 "Add the bells and whistles to a special branch"
How about a branch that includes everything, not just Islandora but also Islandora-labs modules with examples.

Like:
* islandora_bibliography
* islandora_simple_map
* islandora_solution_pack_oralhistories
* islandora_usage_stats_callbacks
* islandora_social_metatags
* islandora_ip_embargo
* etc

Would this be useful? Is this even possible?

[2018-09-06 15:15] bryjbrown commented on #151
I would personally find it useful (especially if it came with some example objects).

It can certainly be done as a separate branch, but I'd want to hear arguments why this shouldn't be the main branch.

[2018-09-06 15:28] mjordan commented on #151
If it included https://github.com/mjordan/islandora_scg we could run some drush commands to populate the default collections. But, not all users will want to do that so anything that creates sample objects should probably be optional.

[2018-09-06 15:36] DonRichards commented on #151
@bryjbrown My only concern is release testing. During a new release this is expected behave in a precise way for testing with only core code. Introducing islandora-labs modules **could** be problematic. I have no solid examples of when this could cause problems. I'm just siding on the side of caution. Perhaps we first do this as a branch and if everyone agrees we could always merge it into the 7.x

[2018-09-06 16:22] bryjbrown commented on #151
@DonRichards Sounds like a solid plan to me.

@mjordan +1 to including https://github.com/mjordan/islandora_scg

[2018-09-06 19:03] lutaylor commented on #151
@DonRichards
Sounds like a good idea. Should we consider it "open" as in we can add modules to the branch as requested?

It should be possible as long as it remains an upstream branch. We shouldn't be able to merge to the main branches from it.

[2018-09-11 18:06] DonRichards commented on #151
What would you guys like the branch name to be? Any Suggestions?

[2018-09-12 15:50] bryjbrown commented on #151
@DonRichards How about "7.x-contrib"? My understanding of "contrib" in the context of open source projects is that it contains tools which are supplementary to a project, but not core, which is exactly what we are trying to signal here.

[2018-09-12 18:12] DonRichards commented on #151
I like it. Anyone else want to +1 Bryan's suggestion? @lutaylor @mjordan

[2018-09-12 18:13] lutaylor commented on #151
@DonRichards
@bryjbrown
Sounds good to me

[2018-09-12 18:17] DonRichards commented on #151
OK, thanks! I'll create the branch and we can casually start working on that.

[2018-09-12 18:17] #151 closed

[2018-12-19 20:46] grf opened #161 "Bug: Recent ImageMagick policy file doesn't permit creation of image derivatives from PDFs"
Apparently this is a common issue with recent ImageMagick distributions. I am using the OVA distribution of islandora 7.x-1.12 from
  https://wiki.duraspace.org/display/ISLANDORA/Release+Notes+and+Downloads

The  /etc/ImageMagick/policy.xml file needs to be changed along the lines of:

  &lt;policy domain="coder" rights="read|write" pattern="PS"/&gt;
  &lt;policy domain="coder" rights="read|write"

[2019-01-15 14:10] DonRichards commented on #161
I can verify a PDF ingest causes errors and this needs to be corrected and the suggested fix does work. I'll look into correcting this
![Ingest Error](https://user-images.githubusercontent.com/2738244/51185164-62097180-18a4-11e9-9c7c-1f36414a5f66.png)

![Terminal](https://user-images.githubusercontent.com/2738244/51185247-9b41e180-18a4-11e9-997b-2cb6cc4fff2f.png)

[2019-01-23 14:59] bryjbrown commented on #161
I created a JIRA ticket for this so we have a number to reference in PRs: https://jira.duraspace.org/browse/ISLANDORA-2372

I will also try to get a fix in for this.

[2019-01-23 15:21] DiegoPino commented on #161
@bryjbrown it could be cool (good, nice, or any other positive adjective could work too) if we add this as part of the documentation of any islandora module that makes use of imageMagick too (large image, simple image, etc)

[2019-01-23 15:38] br2490 commented on #161
Sorry I can't catch this myself right now. I encountered this and IIRC it
was the policy. If this can wait about a week I'd be glad to add it to my
todo list

@bryjbrown: the files here may help as a starting point
https://github.com/Islandora-Collaboration-Group/isle-apache/tree/master/rootfs/usr/local/etc/ImageMagick-7

[2019-01-29 19:34] bryjbrown commented on #161
@grf @DonRichards @DiegoPino @br2490

Tested this today on the current build, and confirmed (third confirmation here) that PDFs cmodels and any PDF-centric cmodels (citations and theses) fail to create derivatives and get the same errors @DonRichards screenshotted.

I also confirmed that changing `/etc/ImageMagick/policy.xml` to what @grf suggested in the first post:
[code]
fixes the problem and P

[2019-01-29 20:20] DonRichards commented on #161
Sorry, I meant to link to a PR. I created a branch but forgot to submit the PR.  Here it is. https://github.com/Islandora-Labs/islandora_vagrant_base_box/pull/40

[2019-01-29 20:21] DonRichards commented on #161
Sorry @bryjbrown I wrote this before I saw your response.

[2019-01-29 20:28] bryjbrown commented on #161
@DonRichards Amazing work! This passes the ol' eyeball test as @bondjimbond would say. The only thing I would ask is that @grf's original posted solution involves the line `<policy domain="coder" rights="read|write" pattern="LABEL"/>` in it, but your PR does not. I'm not sure what this line means or what it does, as I'm not an ImageMagick expert.

@DonRichards or @grf can either of you confirm wha

[2019-02-04 15:27] br2490 commented on #161
@bryjbrown: IM's policy.xml can set a variety of run time parameters. The `coder` policies are security-type features that determine which encoders can be utilized. The default action is to permit unless specified in the policy, and the shipped policy disabled encoders Islandora relies on. @DonRichards' PR resolves this by explicitly permitting access to those encoders.

[2019-02-19 18:10] DonRichards commented on #161
@bryjbrown the "LABEL" coder is blacklisted as part of the [CVE-2016-3714](https://nvd.nist.gov/vuln/detail/CVE-2016-3714) remote code execution exploit. Here's an easy to read [breakdown](https://imagetragick.com).

[2019-02-19 18:16] DonRichards commented on #161
TL;DR
"It is possible to get content of the files from the server by using ImageMagick's 'label' pseudo protocol"

[2019-03-20 15:29] bryjbrown commented on #161
@DonRichards So https://github.com/Islandora-Labs/islandora_vagrant_base_box/pull/40 was merged, but we still need for a fresh-built version of that base box with your new changes to be uploaded to the Vagrant cloud so that it can be pulled down and used by islandora_vagrant. https://jira.duraspace.org/browse/ISLANDORA-2372 can't officially be closed until the issue is gone from a fresh VM.

[2019-03-21 20:08] DonRichards commented on #161
@dannylamb When you get a chance could you please cut a new vm version?

[2019-04-01 18:32] bryjbrown commented on #161
@dannylamb ping?

[2019-04-02 15:01] dannylamb commented on #161
@bryjbrown @dannylamb Just got back from an extended spring break.  Thanks for being patient.

I _think_ I can do this without timing out over and over again.  Time to verify that my magic method for country internets works.

[2019-04-02 15:09] dannylamb commented on #161
`vagrant up` :wave: :game_die:

[2019-04-02 20:05] dannylamb commented on #161
Whelp, that took forever. The base box always takes a long time to build for me, but it was excessive today.  Ubuntu's package servers were having serious issues today, apparantly.  I've exported the box and am uploading now.

[2019-04-03 18:39] dannylamb commented on #161
v1.0.9 is up at https://app.vagrantup.com/islandora/boxes/islandora-base

[2019-04-04 13:39] DonRichards commented on #161
Fix merged and version updated

[2019-04-04 13:59] bryjbrown commented on #161
@DonRichards What do you mean by "Fix merged and version updated"?

[2019-04-04 14:03] bondjimbond commented on #161
@DonRichards Last commit was 14 days ago...?

[2019-04-04 14:07] bryjbrown commented on #161
@DonRichards @bondjimbond yeah, I'm not sure what, other than the new vagrant box @dannylamb pushed, has changed. Either way, we can't close this ticket yet because the issue isn't resolved. The Vagrantfile still specifies to use box 1.0.7, so until we change that the VM still doesn't make PDF derivatives. Working on a PR now.

[2019-04-04 14:12] bryjbrown commented on #161
@DonRichards @bondjimbond https://github.com/Islandora-Labs/islandora_vagrant/pull/163

[2019-04-08 14:59] bryjbrown commented on #161
@DonRichards @bondjimbond @dannylamb @grf @br2490 With https://github.com/Islandora-Labs/islandora_vagrant/pull/163 being merged, I have tested this on a fresh VM and can verify that new objects of PDF-based cmodels are indeed getting derivatives again.

[2019-04-08 14:59] #161 closed

[2019-05-13 12:42] DonRichards opened #164 "Change VM to allow for Islandora8 migration testing"
All of the ports are conflicting with Islandora 8's vagrant file. Islandora 8's vagrant scripts have ports hard coded in and will be costly to change. During a recent Islandora 8 (CLAW) call it was proposed to modify islandora_vagrant to allow for both to run side by side without requiring the user to modify the vagrantfile.

[2019-10-01 18:47] #164 closed

[2019-10-01 18:48] DonRichards commented on #164
Forgot to close this. This was done.

[2021-01-15 14:27] DonRichards commented on #124
@bryjbrown I'd like to close this if there's no community interest.

[2021-11-02 10:48] bjarman opened #167 "Support for Flash ended on December 31, 2020."
Hi! I just installed islandora_vagrant on my local machine. When trying to view http://localhost:8080/fedora/admin/ I get this information:

Alternate HTML content should be placed here. This content requires the Adobe Flash Player. Get Flash

However, since flash EOL was 2020 I can no longer find and install the flash plugin. Is there another UI for the fedora/admin?

Best regards/Fredrik

[2021-11-03 21:49] mjordan commented on #167
@bjarman are you specifically interested in Islandora 7.x? Islandora 2 (aka Islandora 8) is now the current version. The equivalent Vagrant-based installation for Islandora 2 is https://github.com/Islandora-Devops/islandora-playbook. Documentation for Islandora 2 is at https://islandora.github.io/documentation/.

Islandora 2 uses a modern version of Fedora that doesn't rely on a Flash admin interf

[2021-11-04 09:11] bjarman commented on #167
Thank you for this information. I will use the playbook instead.

[2021-11-04 09:11] #167 closed

[2022-02-15 14:07] DonRichards commented on #124
1 yr now response, I think it's safe to close.

[2022-02-15 14:07] #124 closed